@keyframes popIn {
  0% {
    font-size: 4rem;
  }

  100% {
    font-size: 1.4rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  text-align: center;
}

#divlist, #label {
  display: flex;
  justify-content: center;
}

li {
  text-align: left;
}

h1, button {
  font-family: 'Abril Fatface', Cursive;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5%;
}

h2, h3, h4, h5, p, li, .message {
  font-family: 'Poppins', Sans-Serif;
}

h2 {
  margin-top: 0;
}

.results h2 {
  text-decoration: underline;
  margin-bottom: 0;
}

body {
  padding: 0.5%;
  margin: 0;
  box-shadow: inset 0 0 0 1000px rgba(255, 250, 240, 0.7);
  animation: fadeIn 5s;
}

html {
  background-color: floralwhite;
  background-image: url(./images/map.jpg);
  height: 100%;
  background-repeat: no-repeat;
}

.blog {
  margin: 0 auto;
  margin-top: 1.3%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1%;
  padding: 0.5%;
}

button {
  margin: 0.5%;
  padding: 1%;
}

input {
  padding: 1.5%;
  margin: 0.5%;
}

img {
  border-radius: 100%;
  width: 3%;
  margin: 1%;
  animation: popIn 1s;
}

#airbnb, #link1:hover #airbnb2 {
  display: none;
}

#airbnb2, #link1:hover #airbnb {
  display: inline;
}

#ddg, #link3:hover #ddg2 {
  display: none;
}

#ddg2, #link3:hover #ddg {
  display: inline;
}

#wiki, #link2:hover #wiki2 {
  display: none;
}

#wiki2, #link2:hover #wiki {
  display: inline;
}

#trip, #link4:hover #trip2 {
  display: none;
}

#trip2, #link4:hover #trip {
  display: inline;
}

#travelroulette {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2.5%;
}

#count {
  margin: 0;
  margin-top: 1%;
}

#list li {
  font-size: 1.4rem;
  animation: popIn 1s;
}

.message {
  margin: 2%;
}

#divlist {
  border: 1px dashed black;
  width: 50%;
  margin: 1% auto;
  height: 50%;
  overflow: auto;
  height: 15rem;
}

#list {
  margin-top: 0;
}

@media only screen and (max-width: 1350px) {
  #travelroulette {
    width: 70%;
  }

  .blog {
    width: 50%;
  }

  #divlist {
    height: 13rem;
  }

  button {
    padding: 2%;
    margin: 1%;
  }

  input {
    padding: 2%;
    margin: 1%;
  }

  img {
    width: 4%;
    margin: 1.5%;
  }
}

@media only screen and (max-width: 770px) {
  #travelroulette {
    width: 85%;
  }

  .blog {
    width: 75%;
  }

  #divlist {
    width: 80%;
    height: 10rem;
  }

  button {
    padding: 3%;
    margin: 2%;
  }

  input {
    padding: 3%;
    margin: 2%;
  }

  img {
    width: 11%;
    margin: 2%;
  }
}
